<!-- launch file -->

<launch>

	<!-- node pkg="rosbag" name="rosbag_record" type="record" args="-a"/ -->

	<node pkg="mavlink_lora" type="mavlink_lora_node" name="mavlink_lora" respawn="true" output="screen">
		<param name="serial_device" value="/tmp/sim2"/>
		<param name="serial_baudrate" value="57600"/>
	</node>
	<node pkg="mavlink_lora" type="drone_modes_publisher.py" name="drone_modes_publisher" output="screen"></node> 
	<node pkg="mavlink_lora" type="local_setpoint_pub.py" name="local_setpoints_pub" output="screen"></node>
	<!-- <node pkg="drone_command_handler" type="local_setpoint_manual_service_server.py" name="local_setpoint_manual_service_server" output="screen"></node>  -->
	<node pkg="drone_command_handler" type="set_local_position_target_node.py" name="set_local_position_target_node" output="screen"></node> 
	<node pkg="mavlink_lora" type="local_position_publisher.py" name="local_position_publisher_node" output="screen"></node> 
</launch>

